.text {
  text-align: center;
}
.gallery_container {
  width: 850px;
  height: 500px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  background-color: var(--primary-color);
}
.image_container {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: contain;
}

.slider_styles {
  height: 100%;
  position: relative;
}
.arrow_left {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 5rem;
  color: var(--white-color);
  z-index: 1;
  cursor: pointer;
}

.arrow_right {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 5rem;
  color: var(--white-color);
  z-index: 1;
  cursor: pointer;
}
.dots_container {
  display: flex;
  justify-content: center;
}
.dots_style {
  margin: 0 3px;
  cursor: pointer;
  font-size: 3rem;
  color: var(--white-color);
}
