@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html,
body {
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #1d5c23;
  --secondary-color: #3c763d;
  --background-color: #101c10;
  --white-color: #fdfdfd;
  --dark-green: #112111;
  --lightgreen-color: #ebf7ec;
  --green-color: #38b143;
  --highlight-green: #67cb69;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
  cursor: pointer;
  color: var(--white-color);
}
